body
  line-height: 1.6

h1, h2, h3, h4, h5, h6
  margin-top: 0
  
.btn
  cursor: pointer
  color: color-text
  background-color: color-red
  font-size: 90%
  letter-spacing: 1px
  text-transform uppercase
  padding: 0.25em 0.75em
  border: 1px solid color-red
  border-radius: 4px
  &.muted
    background-color: transparent
    border-color: color-gray
    color: color-gray