
.modal
  .backdrop
    background-color: rgba(color-backdrop, 0.92)
  .drawer
    padding: 25px
    position: absolute
    top: 30%
    // transform: translateY(-50%)
    margin: auto
    left: 0
    right: 0
    width: 90%
    max-width: 400px
    border-radius: 10px
    text-align: center
    background-color: color-drawer
    h3
      margin-bottom: 20px
    .btn
      display: block
      width: 100%
      outline: none
      margin-bottom: 15px
      padding: 1.25em 0