.tabbar
  height: sm-tabbar-height;
  background-color: color-tabbar
  .tab
    flex-full()
    text-align: center
    line-height: sm-tabbar-height
  .highlight
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.2s
    .bar
      width: 50px;
      margin: 0 auto;
      height: 4px;
      background-color: color-red;
