.user-item
  flex: 0 0 50px
  flex-row()
  margin-bottom: 10px
  .prof-pic
    flex: 0 0 50px
    width: 100%
    border-radius: 4px
    background-size: cover
    background-position: center center
  .name
    flex: 1 1 0
    flex-center-left()
    padding-left: 15px
