.view.login
  img.facebook
    filter: invert(1)
    max-width: 100%
    margin: 1em auto
    cursor: pointer
  .login-wrapper
    width: 90%
    max-width: 250px
    text-align center
    margin: 15vh auto 0
  .login-inner
    position: relative
  .spinner-wrapper
    position: absolute
    height: 80px
    width: 100%
    margin-top: 20%
  .error-wrapper
    position: relative
    .error
      position: absolute
      margin-top: 5px
